<h1>Editing task</h1>

<%= render 'form_edit' %>

<%= link_to 'Show', @task %> |
<% if @task.category == nil %>
	<%= link_to 'Back', tasks_path %>
<% else %>
	<%= link_to "Back", @task.category %>
<% end %>
