<h1>Editing specification</h1>

<%= render 'form' %>

<%= link_to 'Show', @specification %> |
<% if @specification.category != nil %>
	<%= link_to "Back to Catgory", @specification.category %> |
<% end %>
<%= link_to 'Back to Specification index', specifications_path %>
