<h3>Home - Welcome to TaskManager!</h3>
<p>The database solution form managing tasks, users, and other task resources.</p>
	
<p>To start using this tool:</p>
<ol>
	<li>Create 'Categories' for your Specifications and Tasks.</li>
	<li>Create 'Specifications' for your Requirements.</li>
	<ol>
		<li>A Specification should generally describe something about all the hard
			Requirements that belong to it. It should not contain words like 
			'shall' and 'must', but should contain words like 'needs', 'will',
			'should', and 'may'.</li>
	</ol>
	<li>
		Create 'Requirements' for each of the hard features required by your customer.
	</li>
	<ol>
		<li>A Requirement should use words like 'shall' and 'must'.</li>
	</ol>
	<li>Create 'Tasks' for each Category.</li>
	<ol>
		<li>In the future, Tasks will also be assigned to requirements.</li>
	</ol>
</ol>

<br />
